# URL da API Backend
# Em desenvolvimento local: http://localhost:3000
# Com ngrok: https://seu-dominio.ngrok-free.dev
# Em producao: https://api.seudominio.com

VITE_API_URL=https://finically-prerevolutionary-pauletta.ngrok-free.dev
